{% extends 'base.html' %} {% block title %}{{user.name}}{% endblock %} {% block
content %}
<div class="row">
    <div class="col-sm-4 col-lg-3">
        <img src="{{user.image_url}}" class="img-fluid" alt="{{user.name}}" />
    </div>
    <div class="col">
        <h1>{{user.full_name()}}</h1>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
        <a href="/users/{{user.id}}/delete" class="btn btn-danger">Delete</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Posts</h2>
        <ul>
            {% for post in user.posts %}
            <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
            {% endfor %}
        </ul>
        <a href="/users/{{user.id}}/posts/new" class="btn btn-primary"
            >Add Post</a
        >
    </div>
</div>

{% endblock %}
